*{
    margin: 0;
    padding: 0;
}

.navbar-brand {
    user-select: none;
}


.navbar-nav {
    margin-left: auto; /* Sol taraftan otomatik boşluk bırak */
    display: flex; /* Öğeleri yatay hizala */
    justify-content: flex-end; /* Öğeleri sağa hizala */
}

.navbar-nav .nav-item {
    margin-right: 5px; /* Öğeler arasına 10px boşluk bırakır */
}

.navbar {
    background-color: rgba(120, 120, 120, 0.4); /* Turuncu */
    height: 70px;
}

.navbar a{

    color: rgb(20, 20, 20);

}

.navbar-nav .nav-link.active {
    color: rgb(10, 165, 49); /* Aktif öğenin rengi */
    font-weight: bold; /* Aktif ögeyi kalın yap */
    background-color: rgb(90, 90, 90);
}

.navbar-nav .nav-link:hover {
    color: rgb(31, 206, 34); /* Mouse ile üzerine gelince değişecek renk */
    background-color: rgb(90, 90, 90);
}

.navbar-nav .nav-link {
    transition: all 0.5s ease-in-out; /* Yumuşak geçiş efekti */
    padding: 8px 15px; /* Daire şeklinin düzgün olması için padding */
    border-radius: 5px; /* Köşeleri yuvarlat  */
}

.container{
    margin-top: 3rem;
}

.container .row{

    border: 3px;


}